@using Jack.Application.ViewModel;
@using Jack.Extensions
@model SacolaViewModel


@{
    ViewBag.Title = "Modelo";
    Layout = "~/Views/Shared/_etiqueta.cshtml";
}

<input type="hidden" id="Crianca" name="Crianca" value="@Model.Crianca.Codigo" />
<input type="hidden" id="URLGerarQrCode" name="URLGerarQrCode" value="@Url.Action("GerarQrCode")" />
<br />
<div class="panel" style="width: 1020px;">
    <table style="width: 1020px;">
        <colgroup>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
            <col style="width:85px;"/>
        </colgroup>
        <tr>
            <td colspan="8">@Html.Partial("_SacolaHeader")</td>
            <td colspan="2">
                <div class="" style="width: 150px;">
                    <h6 style="width: 140px; text-align: center"><strong>Número da Sacola</strong></h6>
                    <div style="width: 140px; text-align: center" class="NumFamilia">@Model.SacolaFamilia</div>
                </div>
            </td>
            <td colspan="2">
                <img src="data:image;base64,@Convert.ToBase64String(Model.QrCode)" width="128" height="128"/></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td colspan="10">
                @Html.Partial("_SacolaSubHeader")
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="5">
                <h5><strong>Nome da Criança</strong></h5>
                <h4><strong>@Model.Crianca.Nome</strong></h4>
            </td>
            <td colspan="1">
                <h5><strong>Sexo</strong></h5>
                <h4>@Model.Crianca.Sexo.ToSexo()</h4>
            </td>
            <td colspan="2">
                <h5><strong>Idade</strong></h5>
                <h4>@Model.Crianca.IdadeNominal</h4>
            </td>
            <td colspan="2">
                <h5>
                    @if(@Model.Crianca.CriancaGrande)
                    {
                    <strong>É uma Criança Grande/Gordinha</strong>
                    }
                </h5>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="4">
                <h5><strong>Nome da Mãe/Família</strong></h5>
                <h5>@Model.Familia.Nome</h5>
            </td>
            <td colspan="4">
                <h5><strong>Colaborador</strong></h5>
                <h5>@ViewBag.Colaborador</h5>
            </td>
            <td colspan="1">
                <h5><strong>Calçado</strong></h5>
                <h3>@Model.Crianca.Calcado</h3>
            </td>
            <td colspan="1">
                <h5><strong>Roupa</strong></h5>
                <h3>@Model.Crianca.Roupa</h3>
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="10">
                @Html.Partial("Kit", @Model.Kit)
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="10">
                @Html.Partial("_SacolaFooter")
            </td>
            <td>&nbsp;</td>
        </tr> 
        <tr>
            <td>&nbsp;</td>
            <td style="font-size:8px;">Controle Interno:</td>
            <td style="font-size:8px;">Sacola - @Model.Codigo</td>
            <td style="font-size:8px;">Familia - @Model.Familia.Codigo</td>
            <td style="font-size:8px;">Criança - @Model.Crianca.Codigo</td>
            <td style="font-size:8px;">Kit - @Model.Kit.Codigo</td>
            <td colspan="6">&nbsp;</td>
        </tr>
    </table>
</div>
<br />
@section scripts
{
    @Scripts.Render("~/script/Sacolas/QrCode")
    @Scripts.Render("~/script/Sacolas/Print")
}



