@using Jack.Application.ViewModel
@using Jack.Extensions
@model TratamentoViewModel

@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
@Styles.Render("~/plugins/awesomeCheckboxStyles")
@{
    ViewBag.Title = "Detalhe Tratamento";
    Layout = "~/Views/Shared/_Layout2.cshtml";

    IEnumerable<SelectListItem> familiaLista = ViewBag.Familia as IEnumerable<SelectListItem>;

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            @using (Html.BeginForm("Gravar", "Parametro", FormMethod.Post, new { @id = "formAcesso", @name = "formAcesso", @class = "m-t", role = "form", @autocomplete = "off" }))
            {

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Parâmetros</h5>
                        <div class="ibox-tools">
                            <button type="button" id="Gravar" name="Gravar"
                                    class="btn btn-primary btn-lg"
                                    data-toggle="tooltip" data-placement="top"
                                    title="Gravar Registro">
                                <i class="glyphicon glyphicon-file"></i>Gravar
                            </button>
                            <button type="button" id="Novo" name="Novo"
                                    class="btn btn-danger btn-lg"
                                    data-toggle="tooltip" data-placement="top"
                                    title="Atualizar Página">
                                <i class="glyphicon glyphicon-refresh"></i>&nbsp;Novo
                            </button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <input type="hidden" name="TratamentoId" id="TratamentoId" class="form-control m-b" value="@Model.Codigo">
                        <div class="row">
                            <div class="col-lg-1">&nbsp;</div>
                            <div class="col-lg-5" data-toggle="tooltip" data-placement="top" title="Obter a Família a ser tratada">
                                <label id="labelFamilia" for="Familia">Família</label>
                                @Html.DropDownList("Familia", familiaLista, new { @id = "Familia", @class = "form-control m-b" })
                                <input type="hidden" value="@ViewBag.FamiliaId" id="CodigoFamilia" name="CodigoFamilia" />
                            </div>
                            <div class="col-lg-2" data-toggle="tooltip" data-placement="top" title="Limite idade máxima para a sacolas">
                                <label id="labelIdadeLimite" for="IdadeLimite">Idade Limite:</label>
                                <input type="text" name="IdadeLimite" id="IdadeLimite" class="form-control m-b" value="@Model.IdadeLimite" maxlength="2" onkeypress="return Util.SomenteNumeros(event);">
                            </div>
                            <div class="col-lg-2">
                                <br />
                                <div class="checkbox checkbox-primary" data-toggle="tooltip" data-placement="top" title="Idade máxima em exceção">
                                    <input type="checkbox" name="TemIdadeLimiteExcecao" id="TemIdadeLimiteExcecao" @temIdadeLimiteExcecao>
                                    <label id="labelTemIdadeLimiteExcecao" for="TemIdadeLimiteExcecao">Limite Exceção?</label>
                                </div>
                            </div>
                            <div class="col-lg-2" data-toggle="tooltip" data-placement="top" title="Limite de idade máxima para sacolas em exceção.">
                                <label id="labelIdadeLimiteExcecao" for="IdadeLimiteExcecao">Idade Limite Exceção</label>
                                <input type="text" name="IdadeLimiteExcecao" id="IdadeLimiteExcecao" class="form-control m-b" value="@Model.IdadeLimiteExcecao" maxlength="2" onkeypress="return Util.SomenteNumeros(event);">
                            </div>

                            <div class="col-lg-2" data-toggle="tooltip" data-placement="top" title="Idade Máxima para alunos da Moral Cristã">
                                <label id="labelLimiteIdadeMoralCrista" for="LimiteIdadeMoralCrista">Idade Moral Cristã</label>
                                <input type="text" name="LimiteIdadeMoralCrista" id="LimiteIdadeMoralCrista" class="form-control m-b" value="@Model.CalcadoLimite" maxlength="2" onkeypress="return Util.SomenteNumeros(event);">
                            </div>
                            <div class="col-lg-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">&nbsp;</div>
                            <div class="col-lg-2" data-toggle="tooltip" data-placement="top" title="Valor Máximo de Diferença de Calçados entre o fornecido e o padrão ABNT">
                                <label id="labelCalcadoLimite" for="CalcadoLimite">Calçado Limite</label>
                                <input type="text" name="CalcadoLimite" id="CalcadoLimite" class="form-control m-b" value="@Model.CalcadoLimite" maxlength="2" onkeypress="return Util.SomenteNumeros(event);">
                            </div>
                            <div class="col-lg-2" data-toggle="tooltip" data-placement="top" title="Quantidade máxima de representantes por família.">
                                <label id="labelNumeroMaximoRepresentantes" for="NumeroMaximoRepresentantes">Limite Representantes</label>
                                <input type="text" name="NumeroMaximoRepresentantes" id="NumeroMaximoRepresentantes" class="form-control m-b" value="@Model.NumeroMaximoCricancas" maxlength="2" onkeypress="return Util.SomenteNumeros(event);">
                            </div>
                            <div class="col-lg-2" data-toggle="tooltip" data-placement="top" title="Quantidade Máxima de Crianças por família">
                                <label id="labelNumeroMaximoCricancas" for="NumeroMaximoCricancas">Limite Crianças</label>
                                <input type="text" name="NumeroMaximoCricancas" id="NumeroMaximoCricancas" class="form-control m-b" value="@Model.NumeroMaximoCricancas" maxlength="2" onkeypress="return Util.SomenteNumeros(event);">
                            </div>
                            <div class="col-lg-2" data-toggle="tooltip" data-placement="top" title="Quantidade Máxima de Crianças por família com Representante">
                                <label id="labelNumeroMaximoCricancasRepresentantes" for="NumeroMaximoCricancasRepresentantes">Máx. Crianças Repr.</label>
                                <input type="text" name="NumeroMaximoCricancasRepresentantes" id="NumeroMaximoCricancasRepresentantes" class="form-control m-b" value="@Model.NumeroMaximoCricancas" maxlength="2" onkeypress="return Util.SomenteNumeros(event);">
                            </div>
                            <div class="col-lg-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">&nbsp;</div>
                            <div class="col-lg-2">
                                <label id="labelPrimeiroSabado" for="PrimeiroSabado">Primeiro Sábado</label>
                                <input type="text" name="PrimeiroSabado" id="PrimeiroSabado" class="form-control m-b" value="@Model.PrimeiroSabado" maxlength="1" onkeypress="return Util.SomenteNumeros(event);">
                            </div>
                            <div class="col-lg-2">
                                <label id="labelSegundoSabado" for="SegundoSabado">Segundo Sábado</label>
                                <input type="text" name="SegundoSabado" id="SegundoSabado" class="form-control m-b" value="@Model.SegundoSabado" maxlength="1" onkeypress="return Util.SomenteNumeros(event);">
                            </div>
                            <div class="col-lg-2">
                                <label id="labelTerceiroSabado" for="TerceiroSabado">Terceiro Sábado</label>
                                <input type="text" name="TerceiroSabado" id="TerceiroSabado" class="form-control m-b" value="@Model.TerceiroSabado" maxlength="1" onkeypress="return Util.SomenteNumeros(event);">
                            </div>
                            <div class="col-lg-1">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">&nbsp;</div>
                            <div class="col-lg-3">
                                <br />
                                <div class="checkbox checkbox-primary" data-toggle="tooltip" data-placement="top" title="Pode Gerar Novas Sacolas ?????">
                                    <input type="checkbox" name="PodeGerarNovasSacolas" id="PodeGerarNovasSacolas" @podeGerarNovasSacolas>
                                    <label id="labelPodeGerarNovasSacolas" for="PodeGerarNovasSacolas">Pode Gerar Novas Sacolas?</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <br />
                                <div class="checkbox checkbox-primary" data-toggle="tooltip" data-placement="top" title="Para atualizar calçados e roupas com o crescimento quando o valor é menor que o padrão.">
                                    <input type="checkbox" name="AjusteAutomaticoNoProcessamento" id="AjusteAutomaticoNoProcessamento" @ajusteAutomaticoNoProcessamento>
                                    <label id="labelAjusteAutomaticoNoProcessamento" for="AjusteAutomaticoNoProcessamento">Ajuste Automatico de Vestimenta no Processamento?</label>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <br />
                                <div class="checkbox checkbox-primary" title="Ignora o número máximo de crianças e deixa passar os que são filhos acima do limite." data-toggle="tooltip" data-placement="top">
                                    <input type="checkbox" name="PodeUltrapassarNumeroMaximoFilhos" id="PodeUltrapassarNumeroMaximoFilhos" @ajusteAutomaticoNoProcessamento>
                                    <label id="labelPodeUltrapassarNumeroMaximoFilhos" for="PodeUltrapassarNumeroMaximoFilhos">Pode Ultrapassar Numero Máximo de Filhos?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/Moment")
}


@Html.Action("Alertar", "Site")




