@model Jack.DTO.DTOFamilia

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_JackLayoutPage.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edição de Familia</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-2">@Html.LabelFor(model => model.IsSacolinha, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">@Html.EditorFor(model => model.IsSacolinha, new { htmlAttributes = new { @class = "form-control" } })</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-2">@Html.LabelFor(model => model.IsConsistente, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">@Html.EditorFor(model => model.IsConsistente, new { htmlAttributes = new { @class = "form-control" } })</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-2">@Html.LabelFor(model => model.Contato, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">@Html.EditorFor(model => model.Contato, new { htmlAttributes = new { @class = "form-control" } })</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-2">@Html.LabelFor(model => model.Nivel, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">
                    <select id="selNivel" name="Nivel" class="col-md-5">
                        <option value="-1">Selecione</option>
                        <optiongroup label="Eletíveis">
                            <option value="1">Nível 1</option>
                            <option value="2">Nível 2</option>
                            <option value="3">Nível 3</option>
                            <option value="4">Nível 4</option>
                            <option value="5">Nível 5</option>
                        </optiongroup>
                        <optiongroup label="Não Eletíveis">
                            <option value="6">Nível 6</option>
                            <option value="99">Inconsistente / Erro</option>
                        </optiongroup>
                    </select>
                </div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-2">@Html.LabelFor(model => model.DataAtualizacao, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">@Html.EditorFor(model => model.DataAtualizacao, new { htmlAttributes = new { @class = "form-control" } })</div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-2">@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">
                    <select id="selStatus" name="Status" class="col-md-5">
                        <option value="-1">Selecione</option>
                    </select>
                </div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5"><input type="button" value="Save" class="btn btn-default" /></div>
                <div class="col-md-2">&nbsp;</div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section HeadJavascript
{
@System.Web.Optimization.Scripts.Render("~/bundles/familia")
@System.Web.Optimization.Scripts.Render("~/bundles/status")

    <script type="text/javascript">
        $(function ()
        {
            $.fn.select2.defaults.set("theme", "classic");
            $("#selNivel").select2();
            $("#selStatus").select2();
        })

    </script>
}