
@{
    ViewBag.Title = "Familias";
    Layout = "~/Views/SharedFolder/_JackLayoutPage.cshtml";
}

@System.Web.Optimization.Scripts.Render("~/bundles/Angular")
@System.Web.Optimization.Scripts.Render("~/bundles/familia")
@System.Web.Optimization.Scripts.Render("~/bundles/status")
<div ng-controller="ngFamiliaController">
    <div class="Titulo">Famílias</div>
    <table class="" style="width:980px; margin: 0 auto;">
        <thead>
            <tr class="label-primary table-row">
                <td style="width:40px;">Cód.</td>
                <td style="width:300px;">Nome da Mãe</td>
                <td style="width:160px;">Contato</td>
                <td style="width:40px;">&nbsp;</td>
                <td style="width:40px;text-align:center;"><img style="vertical-align:middle;" alt="Sacolinha?" title="Sacolinha?" width="24" height="24" src="@Url.Content("~/Imagens/bag.png")" /></td>
                <td style="width:40px;text-align:center;"><img style="vertical-align:middle;" alt="Dados OK?" title="Dados OK?" width="24" height="24" src="@Url.Content("~/Imagens/ok.png")" /></td>
                <td style="width:220px;">Status</td>
                <td style="">&nbsp;</td>
                <td style="">&nbsp;</td>
            </tr>
        </thead>
    </table>
    <div id="divDadosGrid" style="width:980px;  margin: 0 auto;height:410px;overflow-y:auto;">
        <table class="table table-striped" style="width: 960px;">
            <tbody id="tBodyDados" class="filterable">
                <tr class="" ng-repeat="item in itens">
                    <td style="width: 50px;">{{item.Codigo}}</td>
                    <td style="width:300px;">{{item.Nome}}</td>
                    <td style="width:170px;">{{item.Contato}}</td>
                    <td style="width:40px;">
                        <img style="vertical-align:middle;" width="24" height="24" alt="Nível" title="Nível {{item.Nivel}}" src="@Url.Content("~/Imagens/{{item.Nivel}}.png")" />
                    </td>
                    <td style="width:40px;text-align:center;">
                        <div ng-switch on="item.IsSacolinha">
                            <div ng-switch-when="S"><img style="vertical-align:middle;" alt="Sim Sacolinha" title="Sim Sacolinha" width="24" height="24" src="@Url.Content("~/Imagens/ok.png")" /></div>
                            <div ng-switch-when="N"><img style="vertical-align:middle;" alt="Não Sacolinha" title="Não Sacolinha" width="24" height="24" src="@Url.Content("~/Imagens/no.png")" /></div>
                        </div>
                    </td>
                    <td style="width:40px;text-align:center;">
                        <div ng-switch on="item.IsConsistente">
                            <div ng-switch-when="S"><img style="vertical-align:middle;" alt="Dados OK" title="Dados OK" width="24" height="24" src="@Url.Content("~/Imagens/ok.png")" /></div>
                            <div ng-switch-when="N"><img style="vertical-align:middle;" alt="Dados Não OK" title="Dados Não OK" width="24" height="24" src="@Url.Content("~/Imagens/no.png")" /></div>
                        </div>
                    </td>
                    <td style="width:220px;">{{item.Status}}</td>
                    <td style="width:50px;text-align:center;"><button class="btn btn-default" ng-click="Edit(item)"><img style=" vertical-align:middle;" alt="" title="" src="@Url.Content("~/Imagens/editar.png")" /></button></</td>
                    <td style="width:50px;text-align:center;"><button class="btn btn-default" ng-click="Delete(item.Codigo)"><img style="vertical-align:middle;" alt="" title="" src="@Url.Content("~/Imagens/excluir.png")" /></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br /><br />
    <div id="divForm" class="container-form">
        <div class="SubTitulo">Edição de Dados</div>
        <div style="display:table-row;" class="form-group">
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-left" style="text-align:right;"><label class="control-label" id="labelNome" for="txtNome">Nome</label></div>
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-right" style="text-align:left;" id="txtCodigo">
                <input type="hidden" ng-model="item.Codigo" value="0" />
                <input type="text" value="" class="form-control" style="width:400px;" maxlength="100" id="txtNome" placeholder="Nome" ng-model="item.Familia"/>
            </div>
            <div style="width:10px;">&nbsp;</div>
        </div>
        <div style="display:table-row;" class="form-group">
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-left" style="text-align:right;"><label class="control-label" id="labelContato" for="txtEmpresa">Contato</label></div>
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-right" style="text-align:left;"><input type="text" value="" class="form-control" style="width:400px;" maxlength="100" id="txtContato" placeholder="Contato" ng-model="item.Contato" /></div>
            <div style="width:10px;">&nbsp;</div>
        </div>
        <div style="display:table-row;" class="form-group">
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-left" style="text-align:right;"><label class="control-label" id="labelStatus" for="ddlStatus">Status</label></div>
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-right" style="text-align:left;">
                <select id="ddlStatus" style="width:400px;" ng-model="item.StatusCodigo" class="form-control"></select>
            </div>
            <div style="width:10px;">&nbsp;</div>
        </div>
        <div style="display:table-row;" class="form-group">
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-left" style="text-align:right;"><label class="control-label" id="labelNivel" for="ddlNivel">Nível</label></div>
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-right" style="text-align:left;">
                <select id="ddlNivel" style="width:320px;" ng-model="item.Nivel" class="form-control">
                    <optgroup label="Níveis Elegíveis">
                        <option value="1">Nível 1</option>
                        <option value="2">Nível 2</option>
                        <option value="3">Nível 3</option>
                    </optgroup>
                    <optgroup label="Níveis Complementares">
                        <option value="4">Nível 4</option>
                        <option value="5">Nível 5</option>
                    </optgroup>
                    <optgroup label="Nível Presença Ano Anterior">
                        <option value="6">Nível 6</option>
                    </optgroup>
                    <optgroup label="Nível Inelegível">
                        <option value="99">Nível 99</option>
                    </optgroup>
                </select>
                <div ng-if="item.Nivel > 0">
                    <img style="vertical-align:middle; display:none" width="24" height="24" alt="Nível" title="Nível {{item.Nivel}}" src="@Url.Content("~/Imagens/{{item.Nivel}}.png")" />
                </div>
            </div>
            <div style="width:10px;">&nbsp;</div>
        </div>
        <div style="display:table-row;" class="form-group">
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-left" style="text-align:right;">&nbsp;</div>
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-right" style="text-align:left;">
                <label class="control-label" id="labelIsSacolinha" for="chkIsSacolinha">Habilitado Sacolinha?</label>
                <input type="checkbox" id="chkIsSacolinha" ng-model="item.IsSacolinha" />
                <label class="control-label" id="labelDadosOK" for="chkDadosOK">Dados Estão OK?</label>
                <input type="checkbox" id="chkDadosOK" ng-model="item.IsConsistente" />
            </div>
            <div style="width:10px;">&nbsp;</div>
        </div>
        <div style="display:table-row;" class="form-group">
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-left" style="text-align:right;"><label class="control-label" id="labelData" for="txtData">Ultima Atualização</label></div>
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-right" style="text-align:left;"><input type="text" readonly="readonly" class="form-control" style="width:400px;" id="txtData" placeholder="" ng-model="item.DataFormated" /></div>
            <div style="width:10px;">&nbsp;</div>
        </div>        <div style="display:table-row;">&nbsp;</div>
        <div style="display:table-row;" class="form-group">
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-left" style="margin:0 auto; text-align:right;"><button id="btnGravar" type="button" class="btn btn-success btn-lg" ng-click="Salvar()">Gravar</button></div>
            <div style="width:10px;">&nbsp;</div>
            <div class="col-form-right" style="margin:0 auto; text-align:center;"><button id="btnCancelar" type="button" class="btn btn-danger btn-lg">Cancelar</button></div>
            <div style="width:10px;">&nbsp;</div>
        </div>
        <div style="display:table-row;">&nbsp;</div>
    </div>
</div>
