@using System.Web.UI.WebControls
@using Jack.Application.ViewModel
@using Jack.Extensions
@model IEnumerable<CriancaVestimentaViewModel>

@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
@Styles.Render("~/plugins/awesomeCheckboxStyles")
@{
    ViewBag.Title = "Crianças";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    IEnumerable<SelectListItem> familiaLista = ViewBag.Familia as IEnumerable<SelectListItem>;
    IList<TipoParentescoViewModel> tipoParentesco = ViewBag.TipoParentesco as IList<TipoParentescoViewModel>;
    tipoParentesco = tipoParentesco.ToList();
}

<input type="hidden" name="URLObterTodos" id="URLObterTodos" value="@Url.Action("Index")" />
<input type="hidden" name="URLEdit" id="URLEdit" value="@Url.Action("Edit")" />
<input type="hidden" name="URLGravar" id="URLGravar" value="@Url.Action("Gravar")" />
<input type="hidden" name="URLExcluir" id="URLExcluir" value="@Url.Action("Excluir")" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Acerto de Dados de Crianças</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <label id="labelFamilia" for="Familia">Família</label>
                            @Html.DropDownList("Familia", familiaLista, new { @id = "Familia", @class = "form-control m-b" })
                            <input type="hidden" value="@ViewBag.FamiliaId" id="CodigoFamilia" name="CodigoFamilia" />
                        </div>
                        <div class="col-lg-1" style="text-align:center;">
                            <br />
                            <button id="Pesquisar" class="btn btn-primary btn-md" data-toggle="tooltip" data-placement="top" title="Pesquisar" onclick="return AcertoDados.Pesquisar();">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-lg-2">
                            <label id="labelCriancas" for="Criancas">Crianças</label>
                            <input type="text" name="Criancas" id="Criancas" readonly="readonly" class="form-control m-b" value="@ViewBag.Criancas" style="width:75%;">
                        </div>

                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped" id="TableFamilia">
                        <tbody>
                            @{
                                var familiaOld = "";
                            }
                            @foreach (var item in Model)
                            {
                                if (familiaOld != item.Familia)
                                {
                                    familiaOld = item.Familia;
                                    <tr>
                                        <td colspan="10">
                                            <h3 class="text-danger">
                                                Família: @item.Familia
                                            </h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th style="width:5%;">@Html.DisplayNameFor(model => model.Codigo)</th>
                                        <th style="width:30%;">@Html.DisplayNameFor(model => model.Nome)</th>
                                        <th style="width:10%;">@Html.DisplayNameFor(model => model.TipoParentesco)</th>
                                        <th style="width:5%;">@Html.DisplayNameFor(model => model.Sexo)</th>
                                        <th style="width:5%;">@Html.DisplayNameFor(model => model.IdadeNominalReduzida)</th>
                                        <th style="width:5%;">@Html.DisplayNameFor(model => model.Roupa)</th>
                                        <th style="width:5%;">Padrão</th>
                                        <th style="width:5%;">@Html.DisplayNameFor(model => model.Calcado)</th>
                                        <th style="width:5%;">Padrão</th>
                                        <th style="width:20%;">@Html.DisplayNameFor(model => model.Status)</th>
                                        <th>Ações</th>
                                    </tr>
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        <select name="TipoParentesco" id="TipoParentesco_@item.Codigo" class="form-control">
                                            @foreach (var itemTipo in tipoParentesco)
                                            {
                                                var selected = "";
                                                if (item.TipoParentescoId == itemTipo.Codigo)
                                                {
                                                    selected = "selected=true";
                                                }
                                                <option value="@itemTipo.Codigo" @selected>@itemTipo.Descricao</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        @item.Sexo.ToSexo()
                                    </td>
                                    <td>
                                        <span data-toggle="tooltip" data-placement="top" title="Idade: @item.IdadeNominal">@Html.DisplayFor(modelItem => item.IdadeNominalReduzida)</span>
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="text" id="Roupa_@item.Codigo" name="Roupa_@item.Codigo" value="@item.Roupa" class="form-control" style="width: 50px;" />
                                    </td>
                                    <td style="text-align: center;">
                                        <button type="button" id="AcertoRoupa" name="AcertoRoupa" style="width:36px;" class=" btn btn-warning btn-sm" onclick="return AcertoDados.AcertarDado('@item.RoupaPadrao','#Roupa_@item.Codigo')">
                                            @item.RoupaPadrao
                                        </button>
                                    </td>
                                    <td style="text-align: center;">
                                        <input type="text" id="Calcado_@item.Codigo" name="Calcado_@item.Codigo" value="@item.Calcado" class="form-control" style="width: 50px;" onkeypress="return Util.SomenteNumeros(event)" />
                                    </td>
                                    <td style="text-align: center;">
                                        <button type="button" id="AcertoCalcado" name="AcertoCalcado" style="width:36px;" class="btn btn-warning btn-sm" onclick="return AcertoDados.AcertarDado('@item.CalcadoPadrao','#Calcado_@item.Codigo')">
                                            @item.CalcadoPadrao
                                        </button>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td style="text-align:right;">
                                        <button type="button" class="btn btn-danger btn-sm" onclick="return AcertoDados.Gravar('@item.Codigo','#Calcado_@item.Codigo','#Roupa_@item.Codigo','#TipoParentesco_@item.Codigo' )">
                                            <i class="glyphicon glyphicon-floppy-disk" data-toggle="tooltip" data-placement="top" title="Processar Dados da AcertoDados"></i>&nbsp;Atualizar
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/Knob")   
    @Scripts.Render("~/plugins/Moment")
    @Scripts.Render("~/script/Crianca/acerto/Dados")
}
