@using Jack.Application.ViewModel
@using Jack.Extensions
@model IEnumerable<CriancaViewModel>

@Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
@Styles.Render("~/plugins/awesomeCheckboxStyles")
@{
    ViewBag.Title = "Crianças";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    IEnumerable<SelectListItem> familiaLista = ViewBag.Familia as IEnumerable<SelectListItem>;
    var habilitado = ViewBag.Acoes;
}

<input type="hidden" name="URLObterTodos" id="URLObterTodos" value="@Url.Action("Index")" />
<input type="hidden" name="URLEdit" id="URLEdit" value="@Url.Action("Edit")" />
<input type="hidden" name="URLGravar" id="URLGravar" value="@Url.Action("Gravar")" />
<input type="hidden" name="URLExcluir" id="URLExcluir" value="@Url.Action("Excluir")" />
<input type="hidden" name="URLObterParametro" id="URLObterParametro" value="@Url.Action("Obter","Parametro")" />
<input type="hidden" name="URLProcessarCriancas" id="URLProcessarCriancas" value="@Url.Action("ProcessarCriancas", "Familia")" />
<input type="hidden" name="URLProcessarCrianca" id="URLProcessarCrianca" value="@Url.Action("ProcessarCrianca")" />
<input type="hidden" name="URLProcessarPresenca" id="URLProcessarPresenca" value="@Url.Action("ProcessarPresenca", "Familia")" />
<input type="hidden" name="URLProcessarFamilia" id="URLProcessarFamilia" value="@Url.Action("Processar", "Familia")" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Crianças</h5>
                    <div class="ibox-tools">
                        <button type="button" id="ProcessarFamilia" name="ProcessarFamilia"
                                class="btn btn-warning btn-lg" @habilitado
                                data-toggle="tooltip" data-placement="top"
                                title="Processar Família">
                            <i class="glyphicon glyphicon-file"></i>&nbsp;Processar Família
                        </button>
                        <button type="button" id="ProcessarPresenca" name="ProcessarPresenca"
                                class="btn btn-warning btn-lg" @habilitado
                                data-toggle="tooltip" data-placement="top"
                                title="Processar Presenças">
                            <i class="glyphicon glyphicon-file"></i>&nbsp;Processar Presenças
                        </button>
                        <button type="button" id="ProcessarCriancas" name="ProcessarCriancas"
                                class="btn btn-warning btn-lg" @habilitado
                                data-toggle="tooltip" data-placement="top"
                                title="Processar Crianças">
                            <i class="glyphicon glyphicon-file"></i>&nbsp;Processar Crianças
                        </button>
                        <button type="button" id="Novo" name="Novo"
                                class="btn btn-success btn-lg" @habilitado
                                data-toggle="tooltip" data-placement="top"
                                title="Novo Registro">
                            <i class="glyphicon glyphicon-file"></i>&nbsp;Novo
                        </button>
                        <button type="button" id="AtualizarPagina" name="AtualizarPagina"
                                class="btn btn-danger btn-lg"
                                data-toggle="tooltip" data-placement="top"
                                title="Atualizar Página" onclick="return location.reload();">
                            <i class="glyphicon glyphicon-refresh"></i>&nbsp;Atualizar
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-5">
                            <label id="labelFamilia" for="Familia">Família</label>
                            @Html.DropDownList("Familia", familiaLista, new { @id = "Familia", @class = "form-control m-b" })
                            <input type="hidden" value="@ViewBag.FamiliaId" id="CodigoFamilia" name="CodigoFamilia" />
                        </div>
                        <div class="col-lg-1" style="text-align:center;">
                            <br />
                            <button id="Pesquisar" class="btn btn-primary btn-md" data-toggle="tooltip" data-placement="top" title="Pesquisar" onclick="return Crianca.Pesquisar();">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                        <div class="col-lg-1">
                            <label id="labelCriancas" for="Criancas">Crianças</label>
                            <input type="text" name="Criancas" id="Criancas" readonly="readonly" class="form-control m-b" value="@ViewBag.Criancas" style="width:75%;">
                        </div>
                        <div class="col-lg-1">
                            <label id="labelCriancas" for="Criancas">Ativas</label>
                            <input type="text" name="Criancas" id="Criancas" readonly="readonly" class="form-control m-b" value="@ViewBag.CriancasAtivas" style="width:75%;">
                        </div>
                        <div class="col-lg-1">
                            <label id="labelPresencas" for="Presencas">Presenças</label>
                            <input type="text" name="Presencas" id="Presencas" readonly="readonly" class="form-control m-b" value="@ViewBag.Presencas" style="width:75%;">
                        </div>
                        <div class="col-lg-1">
                            <label id="labelNivel" for="Nivel">Nível</label>
                            <input type="text" name="Nivel" id="Nivel" readonly="readonly" class="form-control m-b" value="@ViewBag.Nivel">
                        </div>
                        <div class="col-lg-2">
                            <label id="labelPercentualCriancas" for="Criancas">% Crianças</label><br />
                            <input type="text" name="PercentualCriancas" id="PercentualCriancas" readonly="readonly" class=".dial" value="@ViewBag.PercentualCriancas" style="width:75%;">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" name="PresencaJustificada" id="PresencaJustificada" disabled="disabled" @ViewBag.PresencaJustificada>
                                <label id="labelPresencaJustificada" for="PresencaJustificada">Presenca Justificada</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" name="PermiteExcedente" id="PermiteExcedente" disabled="disabled" @ViewBag.PermiteExcedente>
                                <label id="labelPermiteExcedente" for="PermiteExcedente">Permite Excedentes</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" name="Consistente" id="Consistente" disabled="disabled" @ViewBag.Consistente>
                                <label id="labelConsistente" for="Consistente">Consistente?</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" name="Sacolinha" id="Sacolinha" disabled="disabled" @ViewBag.Sacolinha>
                                <label id="labelSacolinha" for="Sacolinha">Sacolinha?</label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label id="labelRepresentante" for="Representante">Representante</label>
                            <input type="text" name="Representante" id="Representante" readonly="readonly" class="form-control m-b" value="@ViewBag.NomeRepresentante">
                        </div>                        
                        <div class="col-lg-3">
                            <label id="labelStatus" for="StatusDescricao">Status</label>
                            <input type="text" name="StatusDescricao" id="StatusDescricao" readonly="readonly" class="form-control m-b" value="@ViewBag.StatusDescricao">
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-hover" id="TableFamilia">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Codigo)</th>
                                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                                <th>@Html.DisplayNameFor(model => model.TipoParentesco.Descricao)</th>
                                <th>@Html.DisplayNameFor(model => model.Sexo)</th>
                                <th>@Html.DisplayNameFor(model => model.IdadeNominalReduzida)</th>
                                <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
                                <th>@Html.DisplayNameFor(model => model.Roupa)</th>
                                <th>@Html.DisplayNameFor(model => model.Calcado)</th>
                                <th>@Html.DisplayNameFor(model => model.Status)</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var icone = "fa fa-thumbs-down";
                                var label = "btn btn-danger";
                                if (item.Status.PermiteSacola)
                                {
                                    icone = "fa fa-thumbs-up";
                                    label = "btn btn-primary";
                                }

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @item.TipoParentesco.Descricao
                                    </td>
                                    <td>
                                        @item.Sexo.ToSexo()
                                    </td>
                                    <td>
                                        <span data-toggle="tooltip" data-placement="top" title="Idade: @item.IdadeNominal">@Html.DisplayFor(modelItem => item.IdadeNominalReduzida)</span>
                                    </td>
                                    <td>
                                        @item.DataNascimento.ToDateFormated()
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Roupa)
                                    </td>
                                    <td style="text-align: center;">
                                        @Html.DisplayFor(modelItem => item.Calcado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status.Descricao)
                                    </td>
                                    <td style="text-align: center;">
                                        <span class="@label">
                                            <i class="@icone"></i>
                                        </span>
                                    </td>
                                    <td style="text-align:right;">
                                        <button type="button" class="btn btn-info btn-sm" onclick="return Crianca.ProcessarCrianca('@item.Codigo')" data-toggle="tooltip" data-placement="top" title="Processar Dados da Crianca">
                                            <i class="glyphicon glyphicon-flag"></i>
                                        </button>
                                        <button type="button" class="btn btn-success btn-sm" onclick="return Crianca.Editar('@item.Codigo')" data-toggle="tooltip" data-placement="top" title="Editar Registro">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </button>
                                        <button type="button" id="Excluir" name="Excluir" class="btn btn-danger btn-sm" onclick="return ExcluirConfirmar('@item.Codigo','@item.Nome')" data-toggle="tooltip" data-placement="top" title="Excluir Registro">
                                            <i class="glyphicon glyphicon-trash" data-toggle="tooltip" data-placement="top" title="Excluir Registro">
                                            </i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Edicao")
@Html.Partial("Exclusao")
@Html.Partial("Mensagem")

@section scripts
{
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/Moment")
    @Scripts.Render("~/bundles/jquery-mask-plugin")
    @Scripts.Render("~/plugins/knob")
    @Scripts.Render("~/script/Crianca/main")
}
