@using Jack.Application.ViewModel;
@using Jack.Extensions
@model IEnumerable<SacolaViewModel>


@{
    ViewBag.Title = "Modelo";
    Layout = "~/Views/Shared/_etiqueta.cshtml";
}
@foreach (var item in Model)
{
    <input type="hidden" id="Crianca" name="Crianca" value="@item.Crianca.Codigo" />
    <div class="panel" style="width: 1024px;">
        <table style="width: 1020px;">
            <colgroup>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
                <col style="width:85px;"/>
            </colgroup>
            <tr>
                <td colspan="6">@Html.Partial("_SacolaHeaderUnica")</td>
                <td colspan="1">
                    <div class="" style="width: 85px;">
                        <h6 style="width: 85px; text-align: center"><strong>Número da Sacola</strong></h6>
                        <div style="width: 85px; text-align: center" class="NumFamilia">@item.SacolaFamilia</div>
                    </div>
                </td>
                <td colspan="5">
                <img src="data:image;base64,@Convert.ToBase64String(item.QrCode)" width="400" height="400"/></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="10">
                    @Html.Partial("_SacolaSubHeader")
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">
                    <h4><strong>Nome da Criança</strong></h4>
                    <h3><strong>@item.Crianca.Nome</strong></h3>
                </td>
                <td colspan="1">
                    <h4><strong>Sexo</strong></h4>
                    <h4>@item.Crianca.Sexo.ToSexo()</h4>
                </td>
                <td colspan="3">
                    <h4><strong>Idade</strong></h4>
                    <h4>@item.Crianca.IdadeNominal</h4>
                </td>
                <td colspan="2">
                    <h4>
                        @if (@item.Crianca.CriancaGrande)
                        {
                            <strong>É uma Criança Grande/Gordinha</strong>
                        }
                    </h4>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">
                    <h4><strong>Nome da Mãe/Família</strong></h4>
                    <h4>@item.Familia.Nome</h4>
                </td>
                <td colspan="4">
                    <h4><strong>Colaborador</strong></h4>
                    <h4>
                        @{
                            var colaborador = "";
                            if (item.Crianca.Colaboradores.FirstOrDefault() != null)
                            {
                                colaborador = item.Crianca.Colaboradores.FirstOrDefault().Colaborador.Nome;
                            }
                        }
                        @colaborador
                    </h4>
                </td>
                <td colspan="1">
                    <h4><strong>Calçado</strong></h4>
                    <h3>@item.Crianca.Calcado</h3>
                </td>
                <td colspan="1">
                    <h4><strong>Roupa</strong></h4>
                    <h3>@item.Crianca.Roupa</h3>
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="10">
                    @Html.Partial("Kit", @item.Kit)
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="10">
                    @Html.Partial("_SacolaFooter")
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td style="font-size:9px;">Controle Interno:</td>
                <td style="font-size:9px;">Sacola - @item.Codigo</td>
                <td style="font-size:9px;">Familia - @item.Familia.Codigo</td>
                <td style="font-size:9px;">Criança - @item.Crianca.Codigo</td>
                <td style="font-size:9px;">Kit - @item.Kit.Codigo</td>
                <td style="font-size:9px;">Nivel - @item.Nivel.Codigo</td>
                <td colspan="6">&nbsp;</td>
            </tr>
        </table>
    </div>
    <div class="page-break">&nbsp;</div>
}
@section scripts
{
    @Scripts.Render("~/script/Sacolas/Print")
}



